## Problem 2: Part A
<style>
    .boxBorder {
     border: 2px solid #990066;
     padding: 10px;
     outline: #990066 solid 5px;
     outline-offset: 5px;
   }
    </style>
    
<div class="boxBorder">

Your flight departs in a few days from the coastal airport; the easiest way down to the coast from here is via toboggan.

The shopkeeper at the North Pole Toboggan Rental Shop is having a bad day. "Something's wrong with our computers; we can't log in!" You ask if you can take a look.

Their password database seems to be a little corrupted: some of the passwords wouldn't have been allowed by the Official Toboggan Corporate Policy that was in effect when they were chosen.

To try to debug the problem, they have created a list (your puzzle input) of passwords (according to the corrupted database) and the corporate policy when that password was set.

For example, suppose you have the following list:

1-3 a: abcde <br />
1-3 b: cdefg <br />
2-9 c: ccccccccc <br />
    
Each line gives the password policy and then the password. The password policy indicates the lowest and highest number of times a given letter must appear for the password to be valid. For example, 1-3 a means that the password must contain a at least 1 time and at most 3 times.

In the above example, 2 passwords are valid. The middle password, cdefg, is not; it contains no instances of b, but needs at least 1. The first and third passwords are valid: they contain one a or nine c, both within the limits of their respective policies.

How many passwords are valid according to their policies?
</div>

In [2]:
import pandas as pd
import numpy as np
import matplotlib as mpl

In [5]:
values = pd.read_excel('data/problem_2_values.xlsx')

In [6]:
values

                            Values
0    17-19 p: pwpzpfbrcpppjppbmppp
1            10-11 b: bbbbbbbbbbbj
2    17-19 c: ccccccccccfrcctcccjc
3             8-10 k: kkkkkkkfkkks
4          13-14 l: lvllvllllslllv
..                             ...
995        2-5 s: slssssszssssssss
996     16-17 d: dddddddddddddddlp
997         2-5 q: bbwqqbkmdhqmjhn
998       7-10 m: qmpgmmsmmmmkmmkj
999            4-7 g: vczggdgbgxgg

[1000 rows x 1 columns]

In [9]:
listed_values = list(values['Values'])

In [17]:
listed_values[0]

'17-19 p: pwpzpfbrcpppjppbmppp'

In [18]:
type(listed_values[0])

str

In [19]:
print(listed_values[0].split())

['17-19', 'p:', 'pwpzpfbrcpppjppbmppp']

In [15]:
list(range(17,20))

[17, 18, 19]

In [20]:
listed_values

AttributeError: 'list' object has no attribute 'split'

In [21]:
split_listed_values = []

In [23]:
for i in listed_values:
    split_listed_values.append(i.split())

In [27]:
split_listed_values[0]

['17-19', 'p:', 'pwpzpfbrcpppjppbmppp']