# Problem #1 <br />
### --- Day 1: Report Repair ---

<style>
    .boxBorder {
     border: 2px solid #990066;
     padding: 10px;
     outline: #990066 solid 5px;
     outline-offset: 5px;
   }
    </style>
    
<div class="boxBorder">

After saving Christmas five years in a row, you've decided to take a vacation at a nice resort on a tropical island. Surely, Christmas will go on without you.

The tropical island has its own currency and is entirely cash-only. The gold coins used there have a little picture of a starfish; the locals just call them stars. None of the currency exchanges seem to have heard of them, but somehow, you'll need to find fifty of these coins by the time you arrive so you can pay the deposit on your room.

To save your vacation, you need to get all fifty stars by December 25th.

Collect stars by solving puzzles. Two puzzles will be made available on each day in the Advent calendar; the second puzzle is unlocked when you complete the first. Each puzzle grants one star. Good luck!

Before you leave, the Elves in accounting just need you to fix your expense report (your puzzle input); apparently, something isn't quite adding up.

Specifically, they need you to find the two entries that sum to 2020 and then multiply those two numbers together.

For example, suppose your expense report contained the following:

1721 <br/>
979 <br/>
366 <br/>
299 <br/>
675 <br/>
1456 <br/>

In this list, the two entries that sum to 2020 are 1721 and 299. Multiplying them together produces 1721 * 299 = 514579, so the correct answer is 514579.

Of course, your expense report is much larger. Find the two entries that sum to 2020; what do you get if you multiply them together?
</div>

In [1]:
import numpy as np
import pandas as pd

In [2]:
values = pd.read_excel('data/problem_1_values.xlsx')

In [7]:
values

     Values
0      2004
1      1671
2      1678
3      1304
4      1242
..      ...
195    1231
196    1310
197    1754
198    1569
199    1532

[200 rows x 1 columns]

In [6]:
type(values)

pandas.core.frame.DataFrame

In [8]:
values = values['Values'].to_numpy()

In [9]:
values

array([2004, 1671, 1678, 1304, 1242, 1882, 1605, 1034, 1883, 1589, 1881,
       1546, 1713, 1218, 1982, 1395, 1277, 1417, 1497, 1499, 1847, 1989,
       1172, 1684, 1243, 1843, 1661, 1662, 1421, 1790, 1344, 1458, 1074,
       1809, 1990, 1369, 1386, 1736, 1972, 1634, 1229, 1123, 1870, 1595,
       1934, 1399, 1732, 1545, 1208,  368, 1907, 1143,  443, 1929, 1965,
       1872, 1738, 1967,  997, 1473, 1041, 1991, 1868, 1180, 1409, 1379,
       1568, 1163, 1869, 1391, 1956, 1249, 1505,  351, 2001,  462, 1219,
       1731, 1802, 1798, 1626, 1438, 1099, 1477, 1980, 1708, 1666, 1066,
       1121, 1359, 1426, 1734, 1768, 1836, 1453,  923, 1660, 1878, 1522,
       1024, 1429,  232, 1952, 1730, 1763, 1981, 1388, 1337, 1317, 1922,
       1044, 1999, 1341, 1178, 1524, 1185, 1257, 1256, 1061, 1262, 1022,
       1778, 1917, 1205, 1272, 1842, 1533, 1194, 1746, 1691, 1617, 1667,
       1940, 1171, 1792, 1773, 1411, 1902, 1859, 1978, 1764, 1482, 1276,
        735, 1716, 1915, 1675, 1126, 1830, 1227, 1299, 1535, 1700, 1658,
       1771, 1823, 1055, 1602, 1590, 1983, 1885, 1735,  103, 1766,   14,
       1486, 1939, 1525, 1916, 1279,  544, 1406, 1674, 1948, 1971, 1651,
       1715, 1943, 1784, 2008, 1800, 1720, 1557, 1467, 1371, 1637, 1345,
       1924, 1565, 1976, 1827, 1890, 1848, 1465, 1573, 1231, 1310, 1754,
       1569, 1532], dtype=int64)

In [12]:
# quick and ugly, gives accurate answer, but duplicates the output

for i in values:
    for n in values:
        if i + n == 2020:
            print(i * n)

197451
197451