## Problem 3: Part A

--- Day 3: Toboggan Trajectory --- <br />

With the toboggan login problems resolved, you set off toward the airport. While travel by toboggan might be easy, it's certainly not safe: there's very minimal steering and the area is covered in trees. You'll need to see which angles will take you near the fewest trees.

Due to the local geology, trees in this area only grow on exact integer coordinates in a grid. You make a map (your puzzle input) of the open squares (.) and trees (#) you can see. For example:

![](data/images/problem_3_a.jpg)

These aren't the only trees, though; due to something you read about once involving arboreal genetics and biome stability, the same pattern repeats to the right many times:  
    
![](data/images/problem_3_b.jpg)
    
You start on the open square (.) in the top-left corner and need to reach the bottom (below the bottom-most row on your map).


The toboggan can only follow a few specific slopes (you opted for a cheaper model that prefers rational numbers); start by counting all the trees you would encounter for the slope right 3, down 1:


From your starting position at the top-left, check the position that is right 3 and down 1. Then, check the position that is right 3 and down 1 from there, and so on until you go past the bottom of the map.


The locations you'd check in the above example are marked here with O where there was an open square and X where there was a tree:

![](data/images/problem_3_c.jpg)

In this example, traversing the map using this slope would cause you to encounter 7 trees.

Starting at the top-left corner of your map and following a slope of right 3 and down 1, how many trees would you encounter?

In [70]:
import pandas as pd
import numpy as np

In [41]:
data = pd.read_excel('data/problem_3_values.xlsx', dtype='string')

In [3]:
data['Values'][0]

'.##.............##......#.....#'

In [4]:
data['Values'][0].replace('.', '0').replace('#', '1')

'0110000000000000110000001000001'

In [5]:
test_list = list(data['Values'][0].replace('.', '0').replace('#', '1'))

In [6]:
for i in test_list:
    i = int(i)

In [7]:
int_list = [int(x) for x in test_list]

In [8]:
int_list

[0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1]

In [9]:
print(data['Values'])

0      .##.............##......#.....#
1      .#.#................#..........
2      ...#..#.##..#.#......#.#.#.#..#
3      ..#......#........#..#..#.#.#..
4      .......#....#..#..#.......#....
                    ...
318    ..#.#....#..#.................#
319    ........#..##..#.....#....#.##.
320    ...#.#..#..#..#..............##
321    .##.......###.#......#....#..##
322    ..##.##.#......#....#..#...#..#
Name: Values, Length: 323, dtype: string

In [10]:
39 % len(data['Values'][0])

8

In [11]:
def count_trees(x_rate, y_rate, start_pos, df):
    
    
    trees = 0
    x_corr = start_pos[0]
    
    for i in df['Values'].iloc[1:]:
        
        x_corr += x_rate
        remainder = x_corr % len(i)
        
        if x_corr > len(i):
            if (remainder == 0):
                if i[0] == '#':
                    trees += 1
            else:
                if i[remainder] == '#':
                    trees += 1
        else:
            if i[x_corr] == '#':
                trees += 1
    return trees

In [12]:
x_rate = 3
y_rate = 1
start_pos = (0,0)
data = pd.read_excel('data/problem_3_values.xlsx', dtype='string')

In [13]:
count_trees(x_rate,y_rate,start_pos,data)

176

### Incorrect Answers ###

81  
88  
78  
84  
85

In [14]:
def count_trees2(x_rate, y_rate, start_pos, df):
    
    
    trees = 0
    x_corr = start_pos[0]
    
    for i in df['Values'].iloc[1:]:
        
        x_corr += x_rate
        x_loc = x_corr % len(i)
        
        if i[x_loc] == '#':
                trees += 1
                
    return trees

In [15]:
count_trees2(x_rate,y_rate,start_pos,data)

176

In [16]:
print (count_trees2(x_rate,y_rate,start_pos,data), 'IS THE CORRECT ANSWER!!!')

176 IS THE CORRECT ANSWER!!!

## Problem 3: Part B

--- Part Two ---
Time to check the rest of the slopes - you need to minimize the probability of a sudden arboreal stop, after all.

Determine the number of trees you would encounter if, for each of the following slopes, you start at the top-left corner and traverse the map all the way to the bottom:

Right 1, down 1. <br />
Right 3, down 1. (This is the slope you already checked.) <br />
Right 5, down 1. <br />
Right 7, down 1. <br />
Right 1, down 2. <br />

![](data/images/problem_3_c.jpg)

In the above example, these slopes would find 2, 7, 3, 4, and 2 tree(s) respectively; multiplied together, these produce the answer 336.

What do you get if you multiply together the number of trees encountered on each of the listed slopes?

In [76]:
rows = [i for i in range(30+1) if i % 2 == 0]
rows

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

In [40]:
data

     index                           Values
0        0  .##.............##......#.....#
1        1  .#.#................#..........
2        2  ...#..#.##..#.#......#.#.#.#..#
3        3  ..#......#........#..#..#.#.#..
4        4  .......#....#..#..#.......#....
..     ...                              ...
318    318  ..#.#....#..#.................#
319    319  ........#..##..#.....#....#.##.
320    320  ...#.#..#..#..#..............##
321    321  .##.......###.#......#....#..##
322    322  ..##.##.#......#....#..#...#..#

[323 rows x 2 columns]

In [31]:
for i in data['Values']:
    print (data.index[i])

IndexError: only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or boolean arrays are valid indices

In [47]:
data2 = data.reset_index()

In [48]:
data2 = data2[data2['index'] % 1 == 0]

In [49]:
data2

     index                           Values
0        0  .##.............##......#.....#
1        1  .#.#................#..........
2        2  ...#..#.##..#.#......#.#.#.#..#
3        3  ..#......#........#..#..#.#.#..
4        4  .......#....#..#..#.......#....
..     ...                              ...
318    318  ..#.#....#..#.................#
319    319  ........#..##..#.....#....#.##.
320    320  ...#.#..#..#..#..............##
321    321  .##.......###.#......#....#..##
322    322  ..##.##.#......#....#..#...#..#

[323 rows x 2 columns]

In [107]:
def count_trees3(x_rate, y_rate, start_pos, df):

    df_internal = df[df['index'] % y_rate == 0]
    
    trees = 0
    x_corr = start_pos[0]
    
    for i in df_internal['Values'].iloc[1:]:
        
        x_corr += x_rate
        x_loc = x_corr % len(i)
        
        if i[x_loc] == '#':
                trees += 1
                
    return trees

In [108]:
tests = [(1,1),(3,1),(5,1),(7,1),(1,2)]

In [109]:
results = []
input_data = pd.read_excel('data/problem_3_values.xlsx', dtype='string')
input_data.reset_index(inplace=True)
start_pos = (0,0)

for i in tests:
    results.append(count_trees3(x_rate=i[0], y_rate=i[1], start_pos=start_pos, df=input_data))

In [110]:
results

[85, 176, 96, 87, 47]

In [115]:
results_array = np.array(results)
results_array

array([ 85, 176,  96,  87,  47])

In [111]:
85 * 176 * 96 * 87 * 47

5872458240

In [116]:
np.product(np.array(results))

1577490944

In [104]:
85*176*96*87*47

5872458240