## Problem 3: Part A

--- Day 3: Toboggan Trajectory --- <br />

With the toboggan login problems resolved, you set off toward the airport. While travel by toboggan might be easy, it's certainly not safe: there's very minimal steering and the area is covered in trees. You'll need to see which angles will take you near the fewest trees.

Due to the local geology, trees in this area only grow on exact integer coordinates in a grid. You make a map (your puzzle input) of the open squares (.) and trees (#) you can see. For example:

![](data/images/problem_3_a.jpg)

These aren't the only trees, though; due to something you read about once involving arboreal genetics and biome stability, the same pattern repeats to the right many times:  
    
![](data/images/problem_3_b.jpg)
    
You start on the open square (.) in the top-left corner and need to reach the bottom (below the bottom-most row on your map).


The toboggan can only follow a few specific slopes (you opted for a cheaper model that prefers rational numbers); start by counting all the trees you would encounter for the slope right 3, down 1:


From your starting position at the top-left, check the position that is right 3 and down 1. Then, check the position that is right 3 and down 1 from there, and so on until you go past the bottom of the map.


The locations you'd check in the above example are marked here with O where there was an open square and X where there was a tree:

![](data/images/problem_3_c.jpg)

In this example, traversing the map using this slope would cause you to encounter 7 trees.

Starting at the top-left corner of your map and following a slope of right 3 and down 1, how many trees would you encounter?

In [1]:
import pandas as pd
import numpy as np

In [40]:
data = pd.read_excel('data/problem_3_values.xlsx', dtype='string')

In [42]:
data['Values'][0]

'.##.............##......#.....#'

In [43]:
data['Values'][0].replace('.', '0').replace('#', '1')

'0110000000000000110000001000001'

In [44]:
test_list = list(data['Values'][0].replace('.', '0').replace('#', '1'))

In [45]:
for i in test_list:
    i = int(i)

In [46]:
int_list = [int(x) for x in test_list]

In [47]:
int_list

[0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1]

In [48]:
print(data['Values'])

0      .##.............##......#.....#
1      .#.#................#..........
2      ...#..#.##..#.#......#.#.#.#..#
3      ..#......#........#..#..#.#.#..
4      .......#....#..#..#.......#....
                    ...
318    ..#.#....#..#.................#
319    ........#..##..#.....#....#.##.
320    ...#.#..#..#..#..............##
321    .##.......###.#......#....#..##
322    ..##.##.#......#....#..#...#..#
Name: Values, Length: 323, dtype: string

In [55]:
data

                              Values
0    .##.............##......#.....#
1    .#.#................#..........
2    ...#..#.##..#.#......#.#.#.#..#
3    ..#......#........#..#..#.#.#..
4    .......#....#..#..#.......#....
..                               ...
318  ..#.#....#..#.................#
319  ........#..##..#.....#....#.##.
320  ...#.#..#..#..#..............##
321  .##.......###.#......#....#..##
322  ..##.##.#......#....#..#...#..#

[323 rows x 1 columns]