--- Day 5: Binary Boarding ---
You board your plane only to discover a new problem: you dropped your boarding pass! You aren't sure which seat is yours, and all of the flight attendants are busy with the flood of people that suddenly made it through passport control.

You write a quick program to use your phone's camera to scan all of the nearby boarding passes (your puzzle input); perhaps you can find your seat through process of elimination.

Instead of zones or groups, this airline uses binary space partitioning to seat people. A seat might be specified like FBFBBFFRLR, where F means "front", B means "back", L means "left", and R means "right".

The first 7 characters will either be F or B; these specify exactly one of the 128 rows on the plane (numbered 0 through 127). Each letter tells you which half of a region the given seat is in. Start with the whole list of rows; the first letter indicates whether the seat is in the front (0 through 63) or the back (64 through 127). The next letter indicates which half of that region the seat is in, and so on until you're left with exactly one row.

For example, consider just the first seven characters of FBFBBFFRLR:

Start by considering the whole range, rows 0 through 127. <br />
F means to take the lower half, keeping rows 0 through 63.<br />
B means to take the upper half, keeping rows 32 through 63.<br />
F means to take the lower half, keeping rows 32 through 47.<br />
B means to take the upper half, keeping rows 40 through 47.<br />
B keeps rows 44 through 47.<br />
F keeps rows 44 through 45.<br />
The final F keeps the lower of the two, row 44.<br />

The last three characters will be either L or R; these specify exactly one of the 8 columns of seats on the plane (numbered 0 through 7). The same process as above proceeds again, this time with only three steps. L means to keep the lower half, while R means to keep the upper half.

For example, consider just the last 3 characters of FBFBBFFRLR:<br />

Start by considering the whole range, columns 0 through 7.<br />
R means to take the upper half, keeping columns 4 through 7.<br />
L means to take the lower half, keeping columns 4 through 5.<br />
The final R keeps the upper of the two, column 5.<br />
So, decoding FBFBBFFRLR reveals that it is the seat at row 44, column 5.<br />

Every seat also has a unique seat ID: multiply the row by 8, then add the column. In this example, the seat has ID 44 * 8 + 5 = 357.

Here are some other boarding passes:

BFFFBBFRRR: row 70, column 7, seat ID 567.<br />
FFFBBBFRRR: row 14, column 7, seat ID 119.<br />
BBFFBBFRLL: row 102, column 4, seat ID 820.<br />

As a sanity check, look through your list of boarding passes. What is the highest seat ID on a boarding pass?

In [1]:
data = open('data/problem_5_values.txt', 'r')
data = data.read()
data = data.split('\n')
del data[-1] #deletes the blank space left over in the end of the list

In [2]:
len(data)

872

In [3]:
total_rows = 128

In [4]:
range(128)[-1]

127

In [5]:
data[0]

'BFFFFFFLLR'

In [6]:
data[0][:-3], data[0][-3:]

('BFFFFFF', 'LLR')

In [7]:
seat_range = range(128)
ticket_rows = data[0][:-3]

def determine_row(letter, seat_range):

    if (len(seat_range)== 2) & (letter == 'B'):
        return seat_range[-1] #not altered by adding 1 because we want to return the actual value of that row, 
                              #rather than an int used in determing the value of the next range to INCLUDE that row
    elif (len(seat_range) == 2) & (letter == 'F'):
        return seat_range[0]
    
    elif letter == 'B':
        return range(seat_range[0] + int((len(seat_range) /2)), seat_range[-1] + 1)
    else:
        return range(seat_range[0], seat_range[0] + int((len(seat_range) /2)))

In [8]:
seat_range = range(128)
ticket_rows = data[0][:-3]

for letter in ticket_rows:
    print(seat_range)
    seat_range = determine_row(letter, seat_range)

range(0, 128)
range(64, 128)
range(64, 96)
range(64, 80)
range(64, 72)
range(64, 68)
range(64, 66)

In [9]:
ticket_rows2 = data[1][:-3]
seat_range = range(128)

print (data[1])
print (seat_range)
for letter in ticket_rows2:
    seat_range = determine_row(letter, seat_range)
    print(seat_range)

FBBFFFFLRL
range(0, 128)
range(0, 64)
range(32, 64)
range(48, 64)
range(48, 56)
range(48, 52)
range(48, 50)
48

In [11]:
ticket_rows3 = 'FBFBBFF'
seat_range = range(128)

print (ticket_rows3)
print (seat_range)
for letter in ticket_rows3:
    seat_range = determine_row(letter, seat_range)
    if type(seat_range) == range:
        print(seat_range, ": this includes rows", seat_range[0], "through", seat_range[-1])
    else:
        print(seat_range, "this is the final determined row")

FBFBBFF
range(0, 128)
range(0, 64) : this includes rows 0 through 63
range(32, 64) : this includes rows 32 through 63
range(32, 48) : this includes rows 32 through 47
range(40, 48) : this includes rows 40 through 47
range(44, 48) : this includes rows 44 through 47
range(44, 46) : this includes rows 44 through 45
44 this is the final determined row

In [12]:
test = range(128)

In [37]:
range(64, 128)[0], range(64, 128)[-1], range(64, 128)[-1] + 1

(64, 127, 128)

In [41]:
x, y = 3, 72

range(x,y)

range(3, 72)